<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class="bx bxs-layout" style="padding-left: 20px"></i>
    <span class="text">Taskify</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a routerLink="/board">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Board</span>
      </a>
    </li>
    <li class="active">
      <a href="#">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">My task</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a (click)="logout()" class="logout" style="cursor: pointer">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu" (click)="toggleSidebar($event)"></i>

    <form action="#"></form>
    <input
      type="checkbox"
      id="switch-mode"
      hidden
      (change)="toggleDarkMode($event)"
    />

    <label for="switch-mode" class="switch-mode"></label>

    <a class="nav-link">Hi, {{ username }} </a>
    <a class="profile">
      <img
        src="https://ui-avatars.com/api/name={{ username }}"
        alt="Profile Image"
        height="60"
        class="rounded-circle"
      />
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left d-flex">
        <h1 style="margin-right: 24px; text-transform: capitalize;">{{ boardName }}</h1>

        <a class="profile" style="margin-right: -8px">
          <img
            src="https://ui-avatars.com/api/name={{
              boardCreator.name
            }}&background=random"
            alt="Profile Image"
            height="40"
            class="rounded-circle"
            style="border: 3px solid #ff00dd"
          />
        </a>
        <div *ngFor="let user of users | slice:0:2;">
          <a class="profile" style="margin-right: -8px">
            <img
              src="https://ui-avatars.com/api/name={{
                user.name
              }}&background=random"
              alt="Profile Image"
              height="40"
              class="rounded-circle"
              style="border: 3px solid #ff00dd"
            />
          </a>
        </div>
        <a *ngIf="users.length > 2" class="profile" style="margin-right: -8px">
          <img
            src="https://ui-avatars.com/api/name={{
              (users.length) - 2
            }}&background=random"
            alt="Profile Image"
            height="40"
            class="rounded-circle"
            style="border: 3px solid #ff00dd"
          />
        </a>
        <a
          class="profile"
          style="margin-right: -8px"
          data-bs-toggle="modal"
          data-bs-target="#addColabAvatar"
        >
          <img
            src="https://ui-avatars.com/api/name=+"
            alt="Profile Image"
            height="40"
            class="rounded-circle"
            style="border: 3px solid #ff00dd; cursor: pointer"
          />
        </a>
      </div>
      <a
        data-bs-toggle="modal"
        data-bs-target="#createListModal"
        class="bx bxs-message-square-add"
        class="btn-create-card"
      >
        <i class="bx bxs-message-square-add"></i>
        <span class="text">Create New List </span>
      </a>
    </div>

    <!-- Start  Component kanban -->
    <div class="table-data" cdkDropListGroup style="overflow-x: scroll !important; height: 100% !important;">
      @for(list of listData; track list){
      <div class="order">
        <div class="todo">
          <div class="head">
            <h3>{{ list.name }}</h3>
            <i
              (click)="setSelected(list.id)"
              data-bs-toggle="modal"
              data-bs-target="#createTaskModal"
              data-bs-dismiss="modal"
              class="bx bx-plus"
            ></i>
            <i
              class="bx bx-dots-horizontal-rounded"
              [matMenuTriggerFor]="menu"
            ></i>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                data-bs-toggle="modal"
                data-bs-target="#editListModal"
                data-bs-dismiss="modal"
                (click)="onEditList(list)"
              >
                <i class="bx bx-edit" style="margin-right: 8px"> </i>
                Edit
              </button>
              <button mat-menu-item (click)="deleteList(list)">
                <i class="bx bx-trash" style="margin-right: 8px"> </i>
                Delete
              </button>
            </mat-menu>
          </div>
          <ul
            class="todo-list"
            cdkDropList
            #dropTarget="cdkDropList"
            [cdkDropListData]="list.tasks"
            (cdkDropListDropped)="drop($event, list.id)"
          >
            <li
              class="not-completed example-box"
              [style.background-color]="
                task.state == 'empty' ? '#EEEEEE' : 'white'
              "
              [style.border-left]="task.state == 'empty' ? '0px' : ''"
              *ngFor="let task of list.tasks; let i = index"
              cdkDrag
              cdkDropListConnectedTo="[dropTarget]"
              [cdkDragDisabled]="task.state == 'empty' ? true : false"
            >
              {{ task.title }}
              @if(task.state != 'empty'){
              <i
                class="bx bx-dots-vertical-rounded icon-right"
                [matMenuTriggerFor]="menu"
              ></i>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="onEditTask(task)"
                  data-bs-toggle="modal"
                  data-bs-target="#editTaskModal"
                >
                  <i class="bx bx-edit" style="margin-right: 8px"></i>
                  Edit
                </button>
                <button mat-menu-item (click)="deleteTask(task)">
                  <i class="bx bx-trash" style="margin-right: 8px"></i>
                  Delete
                </button>
              </mat-menu>
              }
            </li>
            <div class="example-list"></div>
          </ul>
        </div>
      </div>
      }
    </div>
    <!-- End component Kanban -->

    <!-- list modal -->
    <div
      class="modal fade"
      id="createListModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create List</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="kanbanForm">
              <div class="mb-3">
                <label for="listName" class="form-label">List Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="listName"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>

            <button
              type="button"
              class="btn btn-primary"
              pButton
              pRipple
              (click)="postList()"
              data-bs-dismiss="modal"
            >
              Save
            </button>

            <button
              type="button"
              class="btn btn-primary"
              (click)="updateList()"
              *ngIf="false"
              data-bs-dismiss="modal"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end list modal -->

    <!-- start modal list edit -->
    <div
      class="modal fade"
      id="editListModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit List</h5>
            <button
              (click)="clickAddList()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for editing a board here -->
            <form [formGroup]="kanbanForm">
              <!-- Example form elements -->
              <div class="mb-3">
                <label for="listName" class="form-label">List Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="listName"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="updateList()"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Update List
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal edit -->

    <!-- start tasks modal -->
    <div
      class="modal fade"
      id="createTaskModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="kanbanForm">
              <div class="mb-3">
                <label for="taskTitle" class="form-label">Task Item</label>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control"
                  id="taskTitle"
                />
              </div>
              <div class="mb-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input
                  formControlName="due_date"
                  type="date"
                  class="form-control"
                  id="dueDate"
                />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  formControlName="description"
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  cols="10"
                  rows="5"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="postTask()"
              data-bs-dismiss="modal"
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateTask()"
              *ngIf="false"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end task modal -->

    <!-- start modal edit -->
    <div
      class="modal fade"
      id="editTaskModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
            <button
              (click)="clickAddTask()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for editing a board here -->
            <form [formGroup]="kanbanForm">
              <!-- Example form elements -->
              <div class="mb-3">
                <label for="taskTitle" class="form-label">Task Item</label>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control"
                  id="taskTitle"
                />
              </div>
              <div class="mb-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input
                  formControlName="due_date"
                  type="date"
                  class="form-control"
                  id="dueDate"
                />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  formControlName="description"
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  cols="10"
                  rows="5"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="updateTask()"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Update Task
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal edit -->

    <!-- start modal colab -->
    <div
      class="modal fade"
      id="addColabAvatar"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Colaborator</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for editing a board here -->
            <form [formGroup]="memberForm">
              <!-- Example form elements -->
              <div class="mb-3 d-flex flex-column">
                <label for="member" class="form-label">Member</label>
                <select
                  formControlName="user_id"
                  name="user_id"
                  class="custom-select"
                >
                  <option selected disabled>Select the collaborators</option>
                  <option *ngFor="let user of notMemberUsers" [value]="user.id">
                    {{ user.name }}
                  </option>
                </select>
              </div>
            </form>

            <a class="profile d-flex w-100 m-0" style="width: 100%">
              <img
                src="https://ui-avatars.com/api/name={{ boardCreator.name }}"
                alt="Profile Image"
                height="40"
                class="rounded-circle"
                style="border: 3px solid #ff00dd"
              />
              <div
                class="d-flex"
                style="
                  margin-left: 8px;
                  justify-content: space-between;
                  width: 100%;
                "
              >
                <div class="d-block">
                  <span
                    class="text-dark"
                    style="font-size: 16px; font-weight: bold"
                    >{{ boardCreator.name }} (Owner)</span
                  >
                  <br />
                  <span class="text-dark" style="font-size: 12px">{{
                    boardCreator.email
                  }}</span>
                </div>
              </div>
            </a>
            <div *ngFor="let user of users">
              <a class="profile d-flex w-100 m-0 mt-3" style="width: 100%">
                <img
                  src="https://ui-avatars.com/api/name={{ user.name }}"
                  alt="Profile Image"
                  height="40"
                  class="rounded-circle"
                  style="border: 3px solid #ff00dd"
                />
                <div
                  class="d-flex"
                  style="
                    margin-left: 8px;
                    justify-content: space-between;
                    width: 100%;
                  "
                >
                  <div class="d-block">
                    <span
                      class="text-dark"
                      style="font-size: 16px; font-weight: bold"
                      >{{ user.name }} (Member)</span
                    >
                    <br />
                    <span class="text-dark" style="font-size: 12px">{{
                      user.email
                    }}</span>
                  </div>

                  <button type="button" class="btn btn-sm btn-danger" (click)="removeMember(user.id)">
                    Remove
                  </button>
                </div>
              </a>
            </div>
          </div>

          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="addMember()"
            >
              Add Members
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal page colab -->
  </main>

  <!-- MAIN -->
</section>
<!-- CONTENT -->
