<!-- SIDEBAR -->
<section id="sidebar">
  <a routerLink="/board" class="brand">
    <i class="bx bxs-layout" style="padding-left: 20px"></i>

    <span class="text">Tasksify</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/board">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a (click)="logout()" class="logout" style="cursor: pointer">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu" (click)="toggleSidebar($event)"></i>

    <form action="#"></form>
    <input
      type="checkbox"
      id="switch-mode"
      hidden
      (change)="toggleDarkMode($event)"
    />
    <label for="switch-mode" class="switch-mode"></label>

    <a class="nav-link">Hi, {{ username }} </a>
    <a class="profile">
      <img
        src="https://ui-avatars.com/api/name={{ username }}"
        alt="Profile Image"
        height="60"
        class="rounded-circle"
      />
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Your Workspaces</h1>
      </div>
      <a
        class="btn-create-card"
        data-bs-toggle="modal"
        data-bs-target="#createBoardModal"
      >
        <i class="bx bxs-message-square-add"></i>
        <span style="cursor: pointer" class="text">Create New Project </span>
      </a>
    </div>

    <ul class="box-info">
      <li *ngFor="let row of ownedBoardData" class="mb-1">
        <div
          class="card-body"
          style="display: flex; align-items: center; cursor: pointer"
        >
          <!-- Profile Image -->
          <img
            src="https://ui-avatars.com/api/?name={{
              row.name
            }}&background=random"
            height="60"
            class="rounded-circle"
            (click)="goToKanbanPage(row)"
          />

          <div
            class="project-info"
            (click)="goToKanbanPage(row)"
            style="margin-left: 15px"
          >
            <h5 style="margin-top: 10px">{{ row.name }}</h5>
          </div>

          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="menu-button"
            style="margin-left: auto"
          >
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" class="custom-menu">
            <!-- your menu items here -->
            <button
              mat-menu-item
              class="modal-title btn btn-success"
              id="exampleModalLabel"
              (click)="onEdit(row)"
              data-bs-toggle="modal"
              data-bs-target="#editBoardModal"
              style="color: black"
            >
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBoard(row)"
              class="btn btn-danger"
              style="color: black"
            >
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button
              mat-menu-item
              class="modal-title btn btn-success"
              id="exampleModalLabel"
              (click)="addColabBoard(row)"
              data-bs-toggle="modal"
              data-bs-target="#createColabModal"
              style="color: black"
            >
              <mat-icon>group_work</mat-icon>
              <span>Add Collaborator</span>
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>

    <br />
    <br />

    <div class="head-title">
      <div class="left">
        <h1>Collaborate</h1>
      </div>
    </div>

    <!-- Start page Colab  -->
    <ul class="box-info">
      <li *ngFor="let row of collabBoardData" class="mb-1">
        <div
          class="card-body"
          style="display: flex; align-items: center; cursor: pointer"
        >
          <!-- Profile Image -->
          <img
            src="https://ui-avatars.com/api/?name={{
              row.name
            }}&background=random"
            height="60"
            class="rounded-circle"
            (click)="goToKanbanPage(row)"
          />

          <div
            class="project-info"
            (click)="goToKanbanPage(row)"
            style="margin-left: 15px"
          >
            <h5 style="margin-top: 10px">{{ row.name }}</h5>
          </div>
        </div>
      </li>
    </ul>
    <!-- End page Colab -->

    <!-- Start Modal Create -->
    <div
      class="modal fade"
      id="createBoardModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Board</h5>
            <button
              (click)="clickAddBoard()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for creating a new board here -->
            <form [formGroup]="boardForm">
              <!-- Example form elements -->
              <div class="mb-3">
                <label for="boardName" class="form-label">Board Title</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="boardName"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="postBoardDetails()"
              type="button"
              class="btn btn-primary"
              *ngIf="true"
            >
              Create Board
            </button>
            <button
              (click)="updateBoardDetails()"
              type="button"
              class="btn btn-primary"
              *ngIf="false"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Modal Create-->

    <!-- Start Modal Edit -->
    <div
      class="modal fade"
      id="editBoardModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Board</h5>
            <button
              (click)="clickAddBoard()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for editing a board here -->
            <form [formGroup]="boardForm">
              <!-- Example form elements -->
              <div class="mb-3">
                <label for="boardName" class="form-label">Board Title</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="boardName"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="updateBoardDetails()"
              type="button"
              class="btn btn-primary"
            >
              Update Board
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of Modal Edit  -->

    <!-- start modal colab -->
    <div
      class="modal fade"
      id="createColabModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Colaborator</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Add your form elements for editing a board here -->
            <form [formGroup]="memberForm">
              <!-- Example form elements -->
              <div class="mb-3 d-flex flex-column">
                <label for="member" class="form-label">Member</label>
                <select
                  formControlName="user_id"
                  name="user_id"
                  class="custom-select"
                  id=""
                >
                  <option selected disabled>Select the collaborators</option>
                  <option *ngFor="let user of users" [value]="user.id">
                    {{ user.name }}
                  </option>
                </select>
              </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button
              id="cancel"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="addCollaborator()"
              data-bs-dismiss="modal"
            >
              Add Members
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal page colab -->
  </main>

  <!-- MAIN -->
</section>
<!-- CON                                                                                                TENT -->
