#content main .box-info li .icon-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#content main .box-info li .card-container .card {
  margin-left: 10px; /* Ganti dengan margin yang sesuai */
}

@media screen and (max-width: 576px) {
  #content main .box-info li {
    flex-direction: column;
  }

  #content main .header {
    cursor: pointer;
    flex-direction: row;
  }
  .header {
    display: flex;
    align-items: flex-start;
    margin-top: -10px; /* Adjust as needed */
    margin-right: -10px; /* Adjust as needed */
    flex-direction: row;
  }

  .header i {
    background-color: #fff; /* Add background color to the filter icon if needed */
    border-radius: 50%;
    padding: 5px;
    flex-direction: row;
  }

  .card-body {
    display: flex;
    align-items: end;
    width: 100;
  }

  .project-info {
    margin-left: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
  }

  .menu-button {
    width: 100%;
  }
}
